
<!--<h1><%= message %></h1>-->
<!--<h2><%= error.status %></h2>-->
<!--<pre><%= error.stack %></pre>-->

<h1>여기가 아닌가벼 ?</h1>
<h2>잠시 후 메인페이지로 이동합니다...</h2>

<script>
    setInterval(function(){location.href="/board";}, 1500);
</script>