<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Native CSS-->
        <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->

        <!--jQuery-->
        <script src="//code.jquery.com/jquery-3.1.0.min.js"></script>

        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1><%= title %></h1>
                <p>Welcome to <%= title %></p>
                <a href="/board/list">게시판 이동</a>
            </div>
        </div>
    </body>
</html>
